❤️ <b>Рейтинг Deathmatch:</b>

{% for fav in favorites %}
{{ loop.index }}. <a href="{{ fav.tg_url }}">{{ fav.title }}</a> — <b>{{ fav.fans }}</b>
{% endfor %}


🕹️ Deathmatch игр: <b>{{ stats.games }}</b>
👥 Deathmatch игроков: <b>{{ stats.players }}</b>
{% if player_dm_games is not none %}
🎮 Ты сыграл в deathmatch: <b>{{ player_dm_games }}</b>
{% endif %}

{% if user_favorite -%}
❤️ Твой любимчик: <a href="{{ user_favorite.tg_url }}">{{ user_favorite.title }}</a>
{% endif %}
